@font-face {
  font-family: "ROKAFSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  position: relative;
  color: white;
  font-family: 'KOTRAHOPE';
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2vh;
}

#btn1 {
  width: 14vw;
    height: 7vh;
    font-size: 2vw;
    font-family: 'KOTRAHOPE';
    /* font-weight: 600; */
    border-radius: 10px;
    background-color: #ffed54;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: 0.4s all; 
    overflow:hidden;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 4vh;
}

#btn1:hover{transform:scale(1.2);}
#btn1:after{
    content:''; 
    position: absolute; 
    top: calc(50% - 50px); 
    left: -50px; width: 20px; 
    height: 100px; 
    background: white; 
    -webkit-transform: rotate(30deg); 
    transform:rotate(30deg); 
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
    opacity: 0;}
#btn1:hover:after {
    left: calc(100% + 50px); 
    opacity: 1;}


    #btn2 {
      width: 14vw;
        height: 7vh;
        font-size: 2vw;
        color: white;
        font-family: 'KOTRAHOPE';
        /* font-weight: 600; */
        border-radius: 10px;
        background-color: #ff3434;
        cursor: pointer;
        text-align: center;
        position: relative;
        transition: 0.4s all; 
        overflow:hidden;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 4vh;
    }
    
    #btn2:hover{transform:scale(1.2);}
    #btn2:after{
        content:''; 
        position: absolute; 
        top: calc(50% - 50px); 
        left: -50px; width: 20px; 
        height: 100px; 
        background: white; 
        -webkit-transform: rotate(30deg); 
        transform:rotate(30deg); 
        -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
        opacity: 0;}
    #btn2:hover:after {
        left: calc(100% + 50px); 
        opacity: 1;}



        #btn3 {
          width: 14vw;
            height: 7vh;
            font-size: 2vw;
            font-family: 'KOTRAHOPE';
            /* font-weight: 600; */
            border-radius: 10px;
            color: white;
            background-color: #1c6bff;
            cursor: pointer;
            text-align: center;
            position: relative;
            transition: 0.4s all; 
            overflow:hidden;
            margin-left: 1vw;
            margin-right: 1vw;
            margin-top: 4vh;
        }
        
        #btn3:hover{transform:scale(1.2);}
        #btn3:after{
            content:''; 
            position: absolute; 
            top: calc(50% - 50px); 
            left: -50px; width: 20px; 
            height: 100px; 
            background: white; 
            -webkit-transform: rotate(30deg); 
            transform:rotate(30deg); 
            -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
            transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); 
            opacity: 0;}
        #btn3:hover:after {
            left: calc(100% + 50px); 
            opacity: 1;}